body {
    font-family: 'Open Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    padding: 32px 0 31px 0;
    .container {
        max-width: 1200px;
        margin: 0 auto;
        .mainHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .mainLogo {
                margin-left: -80px; 
            }
            .headerNum {
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                text-decoration: none;
                color: #414141;
            }
            .headerNum:hover {
                text-decoration: underline;
            }
        }
    }
}

.navItems {
    display: flex;
    .navItem {
        list-style: none;
        margin-right: 65px;
        .navLink {
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            text-transform: uppercase;
            text-decoration: none;
            color: #414141;
        }
        .navLink:hover {
            text-decoration: underline;
        }
    }
    .lastItem {
        margin: 0;
    }
}

.active {
    text-decoration: underline;
}

.footer {
    background-color: #D2CCBE;
    padding: 28px 0 27px 0;
    .container {
        max-width: 1200px;
        margin: 0 auto;
        .mainFooter {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .mainLogo {
                margin-left: -80px; 
            }
            .footerNum {
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                text-decoration: none;
                color: #414141;
            }
            .footerNum:hover {
                text-decoration: underline;
            }
        }
    }
}